<form class="form-horizontal" name="form" novalidate>
	<div class="modal-header">
	    <button type="button" class="close" aria-label="Close" ng-click="close()"><span aria-hidden="true">&times;</span></button>
	    <h4 class="modal-title"><span class="glyphicon" ng-class="entity._id ? 'glyphicon-edit' : 'glyphicon-plus'"></span> {{title}}</h4>
	</div>

	<div class="modal-body">
		
		  <div class="form-group">
			<label class="col-sm-3 control-label">Referencia: *</label>
			<div class="col-sm-9" ng-class="{'has-error': (form.nome.$error.required && form.$submitted)}">
			  <input type="text" name="referencia" class="form-control" ng-model="entity.referencia" required>
			</div>
	 	</div>

	 	<div class="form-group">
			<label class="col-sm-3 control-label">Tipo: *</label>
			<div class="col-sm-9" ng-class="{'has-error': (form.tipo.$error.required && form.$submitted)}">
			  <input type="text" name="tipo" class="form-control" ng-model="entity.tipo" capitalize required>
			</div>
	 	</div>
	 	
	 	<div class="form-group">
			<label class="col-sm-3 control-label">Descrição: *</label>
			<div class="col-sm-9" ng-class="{'has-error': (form.tipo.$error.required && form.$submitted)}">
			<input type="text" name="descricao" class="form-control" ng-model="entity.descricao" required>
			</div>
	 	</div>

	 	<div class="form-group">
			<label class="col-sm-3 control-label">Tamanho:</label>
			<div class="col-sm-9">
			  <input type="text" class="form-control" ng-model="entity.tamanho">
			</div>
	 	</div>

	 	<div class="form-group">
			<label class="col-sm-3 control-label">Valor Custo: *</label>
			<div class="col-sm-9" ng-class="{'has-error': (form.vlrCusto.$error.required && form.$submitted)}">
			  <input type="text" name="vlrCusto" class="form-control" ng-model="entity.vlrCusto" ui-money-mask required>
			</div>
	 	</div>

	 	<div class="form-group">
			<label class="col-sm-3 control-label">Valor Venda: *</label>
			<div class="col-sm-9" ng-class="{'has-error': (form.vlrVenda.$error.required && form.$submitted)}">
			  <input type="text" name="vlrVenda" class="form-control" ng-model="entity.vlrVenda" ui-money-mask required>
			</div>
	 	</div>

	  <div class="callout callout-danger" ng-if="errorMessage">
	    <h4>Erro!</h4>
	    <p>{{ errorMessage }}</p>
	 	</div>

	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-default pull-left" ng-click="close()">Fechar</button>
		<button type="button" class="btn btn-success" ng-click="save(entity)" ng-disabled="form.$invalid">Salvar</button>
	</div>
</form>