<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lista de Usuários</h3>
          <button class="btn btn-success pull-right" ng-click="newUser()"><i class="glyphicon glyphicon-plus"></i> Novo Usuário</button>
        </div>
        <div class="box-body">
           <div ui-grid="usersGridOptions" ui-grid-pagination class="grid"></div> 
        </div>
      </div>
    </div>
  </div>
</section>