<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Relatório de dívidas por pessoa</h3>
        </div>
        <div class="box-body">
          <label>Pessoa:</label>
          <div class="input-group input-group-sm box-footer">
            <select class="form-control" ng-model="relDividaPorKitConfig.pessoaId" name="pessoa">
              <option value="todas" ng-selected="selected">Todas</option>
              <option ng-repeat="pessoa in pessoas" value="{{pessoa._id}}">
                  {{pessoa.nome}}
              </option>
            </select>

          </div>
        </div>
        <div class="box-footer" >
          <a class="btn btn-success" type="button" ng-click="setConfig()" href="#/rel-divporpessoa-view">Gerar</a>
        </div>
      </div>
    </div>
  </div>
</section>
