<div class="box" ng-if="relKitsReport.length === 0">
  Não existem resultados para a configuração de relatório solicitada.
</div>
<section class="content  biju-print-font ">
  <div ng-if="relKitsReport.length > 0">

    <div class="box">
      <div class="box-header with-border no-print">
        <div class="row">
          <div class="col-xs-6">
            <h3 class="box-title">Relatório de Kits</h3>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-success pull-right" style="margin-right: 5px;" onClick="window.print()">
              <i class="fa fa-print"></i> Imprimir
            </button>
          </div>
        </div>
      </div>

      <div class="box-body">
        <div ng-repeat="kit in relKitsReport | orderBy:'pessoa.nome' ">
          <div ng-repeat="page in kit.pages">
            <table ng-if="$first" class="table table-bordered table-condensed">
              <tbody>
                <tr align="center">
                  <td colspan="4"><b>ROMANEIO SAVELLU'S</b></td>
                </tr>
                <tr>
                  <td style="width:10%"><b>CLIENTE</b></td>
                  <td style="width:40%">{{::kit.pessoa.nome}}</td>
                  <td rowspan="5" colspan="1" style="width:50%"><b>OBS:</b></td>
                </tr>
                <tr>
                  <td><b>CÓD./VLR</b></td>
                  <td>{{::kit.codigoPersonalizado}} / {{::kit.vlrTotalKit | currency}}</td>
                </tr>
                <tr>
                  <td><b>ESTADO</b></td>
                  <td>{{::kit.estado}}</td>
                </tr>
                <tr>
                  <td><b>DATA</b></td>
                  <td>{{::kit.dataEntrega | date:'dd/MM/yyyy'}}</td>
                </tr>
                <tr>
                  <td><b>CELULAR</b></td>
                  <td>{{::kit.pessoa.telefoneCelular}}</td>
                </tr>
                <tr>
                  <td><b>P. REF.</b></td>
                  <td>{{::kit.pessoa.pessoaReferencia.nome}}</td>
                  <td style="text-align:left !important;" >Nome:</td>
                </tr>
                <tr>
                  <td><b>OBS SIST.</b></td>
                  <td></td>
                  <td style="text-align:left !important;" >Data: ______/______/______  Ass:</td>
                </tr>
              </tbody>
            </table>

            <table ng-if="!$first" class="table table-bordered table-condensed">
              <tbody>
                <tr align="center">
                  <td colspan="4"><b>ROMANEIO SAVELLU'S</b></td>
                </tr>
                <tr>
                  <td style="width:10%"><b>CLIENTE</b></td>
                  <td style="width:40%">{{::kit.pessoa.nome}}</td>
                  <td style="width:10%"><b>CÓD./VLR</b></td>
                  <td style="width:40%">{{::kit.codigoPersonalizado}} / {{::kit.vlrTotalKit | currency}}</td>
                </tr>
              </tbody>
            </table>

            <table class="table table-bordered table-condensed">
              <tbody align="center">
                <tr>
                  <th style="width:5%; text-align: center;">#</th>
                  <th style="width:10%; text-align: center;">QTD</th>
                  <th style="width:10%; text-align: center;">REF</th>
                  <th style="width:50%; text-align: center;">DESCRIÇÃO</th>
                  <th style="width:10%; text-align: center;">PREÇO UNIT.</th>
                  <th style="width:15%; text-align: center;">TOTAL</th>
                </tr>
                <tbody>
                  <tr ng-repeat="item in page | orderBy:'produto.tipo' " >
                    <td>{{$index +1}}</td>
                    <td>{{::item.qtdeEntregue}}</td>
                    <td>{{::item.produto.referencia}}</td>
                    <td>{{::item.produto.tipo}}</td>
                    <td>{{::item.vlrUnit | currency}}</td>
                    <td>{{::item.vlrTotal | currency}}</td>
                  </tr>
                </tbody>
                <tr ng-if="$last">
                  <td align="right" colspan="5"><b>TOTAL</b></td>
                  <td>{{::kit.vlrTotalKit | currency}}</td>
                </tr>
              </tbody>
            </table>
            <div ng-if="!$last" class="biju-page-break"></div>
          </div>
          <div ng-if="!$last" class="biju-page-break"></div>
        </div>
      </div>
    </div>
  </div>
</section>
