<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">SUMÁRIO</h3>
  </div><!-- /.box-header -->
  <div class="box-body">
    <table class="table table-bordered">
        <tbody>
          <tr>
            <th>vlrTotalDividas</th>
            <th>vlrTotalPagos</th>
            <th>vlrTotalRestante</th>
          </tr>
          <tr>
            <td>{{::relatorio.vlrTotalDividas}}</td>
            <td>{{::relatorio.vlrTotalPagos}}</td>
            <td>{{::relatorio.vlrTotalRestante}}</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="box-header with-border">
    <h3 class="box-title">PESSOAS</h3>
  </div><!-- /.box-header -->
  <div ng-repeat="registro in relatorio.registros">

    <div class="box-body">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th>Pasta</th>
            <th>Pessoa</th>
            <th>vlrTotalDividas</th>
            <th>vlrTotalPagos</th>
            <th>vlrTotalRestante</th>
          </tr>
          <tr >
            <td>{{::registro.pessoa._id}}</td>
            <td>{{::registro.pessoa.nome}}</td>
            <td>{{::registro.vlrTotalDividas}}</td>
            <td>{{::registro.vlrTotalPagos}}</td>
            <td>{{::registro.vlrTotalRestante}}</td>
            <!-- kits -->
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th>Data Entrega</th>
                    <th>Data Fechamento</th>
                    <th>Valor Total Dívida</th>
                    <th>Valor Total Pagamento</th>
                    <th>Valor Total Restante</th>
                    <th>Pagamentos</th>
                  </tr>
                  <tr ng-repeat="kit in registro.kits">
                    <td>{{::kit.dataEntrega}}</td>
                    <td>{{::kit.dataDevolucao}}</td>
                    <td>{{::kit.vlrTotalDivida}}</td>
                    <td>{{::kit.vlrTotalPgto}}</td>
                    <td>{{:: kit.vlrTotalDivida - kit.vlrTotalPgto}}</td>
                    <td>
                      <!-- pagamentos -->
                      <table class="table table-bordered">
                          <tbody>
                            <tr>
                              <th>Forma</th>
                              <th>Pago</th>
                              <th>Vencimento</th>
                              <th>Data Pagamento</th>
                            </tr>
                            <tr ng-repeat="pagamento in kit.pagamentos">
                              <td>{{::pagamento.formaPgto}}</td>
                              <td>{{::pagamento.vlrPgto}}</td>
                              <td>{{::pagamento.dataVencimento}}</td>
                              <td>{{::pagamento.dataPgto}}</td>
                            </tr>
                          </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
            </table>
          </tr>
        </tbody>
      </table>
    </div><!-- /.box-body -->
  </div>
</div>
