.biju-page-break {
  page-break-after: always;
}
@media print {
  .biju-print-font {
    font-size: 12px;
  }
  .table > tbody > tr > td {
    border: 2px solid #000000  !important;
    text-align: center;
  }
  .table > tbody > tr > th {
    border: 2px solid #000000  !important;
    text-align: center;
  }

  .table > thead > tr > th {
    border: 2px solid #000000  !important;
    text-align: center;
  }
}

td {
  padding: 1px !important;
}
