<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Estoque</h3>
          <button class="btn btn-success pull-right" ng-click="newEstoque()"><i class="glyphicon glyphicon-plus"></i> Adicionar</button>

          <!-- Espaço entre o campo e o botão-->
          <div class="pull-right">
            &nbsp
            &nbsp
          </div>
          <div class="input-group pull-right" style="width: 150px;">
            <input type="text" ng-model="searchText" class="form-control pull-right" placeholder="Procurar"/>
            <div class="input-group-btn">
              <button class="btn btn-default" >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>

        <div class="box-body">
          <div ui-grid="estoqueGridOptions" ui-grid-pagination ui-grid-selection class="grid"></div>
        </div>

        <br />
        <div class="row">
          <div class="col-md-6" align="center">
            <h3>Valor Total: {{totalValorEstoque | currency}}</h3>
          </div>
          <div lass="col-md-6" align="center">
            <h3>Produtos em Estoque: {{totalProdutosEstoque}}</h3>
          </div>
        </div>
        <br />

      </div>
    </div>
  </div>
</section>