<section class="content-header">
	<h1>Fechamento do Kit</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Código do Kit: {{kit.codigo}}</h3>
        </div>
        
        <form class="form-horizontal">
          <div class="box-body">
						<div class="row">
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Estado:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{kit.estado}}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Data Geração:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{kit.dataGeracao | date:"dd/MM/yyyy"}}</p>
								</div>
							</div>

							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Valor Total Kit:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{kit.vlrTotalKit | currency}}</p>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Pessoa:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{kit.pessoa.nome}}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Data Entrega:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{kit.dataEntrega | date:"dd/MM/yyyy"}}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Data Prox. Retorno:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ ::kit.dataProxRetorno | date:"dd/MM/yyyy" }}</p>
								</div>
							</div>
						</div>
			      <div class="row">
			        <div class="col-xs-12">
			          <div class="box box-danger">
			            <div class="box-header">
			              <h3 class="box-title">Lista de Pagamentos</h3>
			            </div><!-- /.box-header -->
			            <!-- <div class="box-body table-responsive no-padding"> -->
						        <div class="box-body">
        							<div class="row">
												<div class="col-lg-4 form-group">
													<label class="col-sm-6 control-label">Valor Total Divida:</label>
													<div class="col-sm-6">
														<p class="form-control-static">{{ kit.vlrTotalDivida | currency}}</p>
													</div>
												</div>
												<div class="col-lg-4 form-group">
													<label class="col-sm-6 control-label">Numero Parcelas:</label>
													<div class="col-sm-6">
														<input type="number" name="numeroParcelas" class="form-control" ng-change="geraParamentos()" ng-model="kit.numeroParcelas">
													</div>
												</div>
												<div class="col-lg-4 form-group">
													<label class="col-sm-6 control-label">Data Devolução:</label>
													<div class="col-sm-6">
														<input type="text" name="dataDevolucao" class="form-control" ng-model="kit.dataDevolucao" ui-date-mask>
													</div>
												</div>
											</div>
											<div class="row">
					              <table class="table table-hover">
					                <tr>
					                  <th>Valor Pagamento</th>
					                  <th>Data Vencimento</th>
					                  <th>Forma Pagamento</th>
					                </tr>
					                <tr ng-repeat="pagamento in kit.pagamentos">
					                	<td>{{pagamento.vlrPgto | currency}}</td>
					                	<td>
					                		<input type="text" name="dataVencimento" class="form-control" ng-model="pagamento.dataVencimento" ui-date-mask>
					                	</td>
					                	<td>
					                		<input type="text" name="formaPgto" class="form-control" ng-model="pagamento.formaPgto">
					                	</td>
					                </tr>
					              </table>
											</div>
										</div>	              
			            <!--</div><!-- /.box-body -->
			          </div><!-- /.box -->
			        </div>
			      </div>
			      <div class="row">
			        <div class="col-xs-12">
			          <div class="box">
			            <div class="box-header">
			              <h3 class="box-title">Lista de Produtos</h3>
			            </div><!-- /.box-header -->
			            <!-- <div class="box-body table-responsive no-padding"> -->
					          <div class="box-body">
					    				<div class="row">

							<div class="col-lg-3 form-group">
								<label class="col-sm-4 control-label">Ref.:</label>
								<div class="col-sm-8">
									<!-- @TODO corregir case ele encontre pela diretiva nao buscar novamente no inserirItem na Ctrl-->
									<input type="text" id="referencia" class="form-control" ng-model="produto.referencia" ng-model-options="{ updateOn: 'blur' }" produto-available ng-trim="true" ng-enter="setFocus(produto, devolverItem)">
								</div>
							</div>
							<div class="col-lg-3 form-group">
								<label class="col-sm-4 control-label">Qtd.:</label>
								<div class="col-sm-8">
									<input type="text" id="quantidade" class="form-control" ng-model="produto.quantidade" ng-enter="setFocus(produto, devolverItem)">
								</div>
							</div>






<!-- 												<div class="col-lg-3 form-group">
													<label class="col-sm-4 control-label">Ref.:</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" ng-model="produto.referencia">
													</div>
												</div>
												<div class="col-lg-3 form-group">
													<label class="col-sm-4 control-label">Qtd.:</label>
													<div class="col-sm-8">
														<input type="text" class="form-control" ng-model="produto.quantidade">
													</div>
												</div> -->
												<div class="col-lg-2 form-group">
													<button type="button" class="btn btn-info" ng-click="devolverItem(produto)">Devolver</button>
												</div>
											</div>
											<div class="row">
					              <table class="table table-hover">
					                <tr>
					                  <th>Ref.</th>
					                  <th>Tipo</th>
					                  <th>Descricao</th>
					                  <th>Qtd. Entregue</th>
					                  <th>Qtd. Devolvida</th>
					                  <th>Valor Unit</th>
					                  <th>Valor Total</th>
					                </tr>
					                <tr ng-repeat="item in kit.itens">
					                	<td>{{item.produto.referencia}}</td>
					                	<td>{{item.produto.tipo}}</td>
					                	<td>{{item.produto.descricao}}</td>
					                	<td>{{item.qtdeEntregue}}</td>
					                	<td>{{item.qtdeDevolvida}} <button class="btn btn-danger btn-sm" title="Zerar" ng-click="zerarQtdDevolvida(item)"><i class="fa fa-trash"></i></button></td>
					                	<td>{{item.vlrUnit}}</td>
					                	<td>{{item.vlrTotal}}</td>
					                </tr>
					              </table>
											</div>
										</div>		              
			            </div><!-- /.box-body -->
			          </div><!-- /.box -->
			        </div>
			      </div>
	        </div>
	        <div class="box-footer">
	          <button type="submit" class="btn btn-default" ng-click="go('/kits')">Cancel</button>
	          <button type="submit" class="btn btn-success pull-right" ng-click="fecharKit()">Salvar</button>
	        </div>
        </form>
      </div>
    </div>
	</div>
</section>
<pre>{{kit.pagamentos | json}}</pre>