<section class="content-header">
	<h1>Gerar Novo Kit</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
      <div class="box box-info">
				<div class="box-header with-border">
          <h3 class="box-title">Adicionar Produto</h3>
        </div>
        <form class="form-horizontal">
          <div class="box-body">
						<div class="row">
							<div class="col-lg-3 form-group">
								<label class="col-sm-4 control-label">Código:</label>
								<div class="col-sm-8">
									<input class="form-control" type="text" name="codkit" ng-model="kit.codigoPersonalizado">
								</div>
							</div>
						</div>
    				<div class="row">
							<div class="col-lg-3 form-group">
								<label class="col-sm-4 control-label">Ref.:</label>
								<div class="col-sm-8">
									<!-- @TODO corregir case ele encontre pela diretiva nao buscar novamente no inserirItem na Ctrl-->
									<input type="text" id="referencia" class="form-control" autofocus ng-model="produto.referencia" ng-model-options="{ updateOn: 'blur' }" produto-available ng-trim="true" ng-enter="setFocus(produto, inserirItem)">
								</div>
							</div>
							<div class="col-lg-3 form-group">
								<label class="col-sm-4 control-label">Qtd.:</label>
								<div class="col-sm-8">
									<input type="number" min="1" step="1" id="quantidade" class="form-control" ng-model="produto.quantidade" onfocus="this.select();" ng-enter="setFocus(produto, inserirItem)">
								</div>
							</div>
							<div class="col-lg-1 form-group">
								<button type="button" class="btn btn-info" event-focus="click" event-focus-id="referencia" ng-click="inserirItem(produto)">Inserir</button>
							</div>
							<div class="col-lg-4">
								<p class="form-control-static text-danger" ng-show="errorProdutoMessage">{{errorProdutoMessage}}</p>
								<p class="form-control-static" ng-show="produtoAvailableDescription"><b>Produto:</b> {{produtoAvailableDescription}}</p>
							</div>
							<div class="col-lg-1" ng-show="errorProdutoMessage">
								<button class="btn btn-success" style="padding-top:7px;" ng-click="cadastrarProduto()">Cadastrar</button>
							</div>
						</div>

						<div ng-if="saveError" class="callout callout-danger">
							<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
							<h4>Erro!</h4>
							<p>{{saveError}}</p>
						</div>

            <div class="row">
	            <div class="col-xs-12">
	              <div class="box box-success">
	                <div class="box-header">
	                  <div class="row">
											<div class="col-sm-6">
												<h3 class="box-title">Lista de Produtos</h3>
											</div>
											<div class="col-sm-6 form-group">
												<label class="col-sm-6 control-label">Valor Total Kit:</label>
												<div class="col-sm-6">
													<p class="form-control-static">{{kit.vlrTotalKit | currency}}</p>
												</div>
											</div>
										</div>
	                </div>
	                <div class="box-body table-responsive no-padding">
	                  <table class="table table-striped">
	                 		<tr>
	                      <th>Ref.</th>
	                      <th>Tipo</th>
	                      <th>Descricao</th>
	                      <th>Qtd. Entregue</th>
	                      <th>Valor Unit</th>
	                      <th>Valor Total</th>
	                      <th></th>
	                    </tr>
	                    <tr ng-repeat="(index, item) in kit.itens | orderBy:'produtoCompleto.tipo'">
	                    	<td>{{item.produtoCompleto.referencia}}</td>
	                    	<td>{{item.produtoCompleto.tipo}}</td>
	                    	<td>{{item.produtoCompleto.descricao}}</td>
	                    	<td>{{item.qtdeEntregue}}</td>
	                    	<td>{{item.vlrUnit | currency}}</td>
	                    	<td>{{item.vlrTotal | currency}}</td>
	                    	<td><button class="btn btn-danger btn-sm" title="Excluir" ng-click="removerItem(item.produtoCompleto._id)"><i class="fa fa-times"></i></button> </td>
	                    </tr>
	                  </table>
	                </div>
	              </div>
	            </div>
	          </div>
          </div>
          <div class="box-footer">
         		<button type="submit" class="btn btn-default" ng-click="cancel()">Cancel</button>
          	<button type="submit" class="btn btn-success pull-right" ng-disabled="kit.itens.length === 0" ng-click="kitSave('GERADO')">Salvar</button>
          </div>
        </form>
      </div>
    </div>
	</div>
</section>
