<section class="content-header">
	<h1>Detalhes do Kit</h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
        	<h3 class="box-title">Código do Kit: {{ ::kit.codigo }}</h3>
         	<button class="btn btn-info pull-right" ng-if="kit.estado ==='Gerado'" ng-click="kitForm('entregar')">Entregar Kit</button>
					<button class="btn btn-info pull-right" ng-if="kit.estado ==='Entregue'" ng-click="kitForm('fechar')">Fechar Kit</button>
					<button class="btn btn-info pull-right" ng-if="kit.estado ==='Fechado'" ng-click="kitForm('pagar')">Pagar Kit</button>
        </div>
        <form class="form-horizontal">
          <div class="box-body">
    				<div class="row">
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Estado:</label>
								<div class="col-sm-6">
									<p class="form-control-static label" ng-class="{'label-success': kit.estado === 'Gerado', 'label-warning': kit.estado === 'Entregue', 'label-danger': kit.estado === 'Fechado', 'label-primary': kit.estado === 'Pago'}">{{ ::kit.estado }}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Data Geração:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ ::kit.dataGeracao | date:"dd/MM/yyyy" }}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Valor Total Kit:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ ::kit.vlrTotalKit | currency }}</p>
								</div>
							</div>
						</div>
						<div class="row" ng-if="kit.estado !== 'Gerado' ">
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Pessoa:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ ::kit.pessoa.nome }}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Data Entrega:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ ::kit.dataEntrega | date:"dd/MM/yyyy" }}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group" ng-if="kit.estado === 'Entregue'">
								<label class="col-sm-6 control-label">Data Prox. Retorno:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ ::kit.dataProxRetorno | date:"dd/MM/yyyy" }}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group" ng-if="kit.estado !== 'Entregue'">
								<label class="col-sm-6 control-label">Data Devolução:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ ::kit.dataDevolucao | date:"dd/MM/yyyy" }}</p>
								</div>
							</div>
						</div>
						<div class="row" ng-if="kit.estado === 'Fechado' || kit.estado === 'Pago' ">
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Valor Total Divida:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ ::kit.vlrTotalDivida | currency}}</p>
								</div>
							</div>
							<div class="col-lg-4 form-group">
								<label class="col-sm-6 control-label">Valor Total Pagamento:</label>
								<div class="col-sm-6">
									<p class="form-control-static">{{ kit.vlrTotalPgto | currency}}</p>
								</div>
							</div>
						</div>
            <div class="row" ng-if="kit.pagamentos && (kit.estado === 'Fechado' || kit.estado === 'Pago')">
	            <div class="col-xs-12">
	              <div class="box box-danger">
	                <div class="box-header">
	                  <h3 class="box-title">Lista de Pagamentos</h3>
	                </div>
	                <div class="box-body table-responsive no-padding">
	                  <table class="table table-striped">
											<tr>
									      <th>Valor Pagamento</th>
									      <th>Data Vencimento</th>
									      <th>Forma Pagamento</th>
									      <th>Data Pagamento</th>
									    </tr>
									    <tr ng-repeat="pagamento in kit.pagamentos">
									    	<td>{{ ::pagamento.vlrPgto | currency }}</td>
									    	<td>{{ ::pagamento.dataVencimento | date:"dd/MM/yyyy" }}</td>
									    	<td>{{ ::pagamento.formaPgto }}</td>
									    	<td>{{ ::pagamento.dataPgto | date:"dd/MM/yyyy" }}</td>
									    </tr>
	                  </table>
	                </div>
	              </div>
	            </div>
	          </div>
            <div class="row">
	            <div class="col-xs-12">
	              <div class="box box-success">
	                <div class="box-header">
	                  <h3 class="box-title">Lista de Produtos</h3>
	                </div>
	                <div class="box-body table-responsive no-padding">
	                  <table class="table table-striped">
		                 	<tr>
			                  <th>Ref.</th>
			                  <th>Tipo</th>
			                  <th>Descricao</th>
			                  <th>Qtd. Entregue</th>
			                  <th ng-if="kit.estado === 'Fechado'">Qtd. Devolvida</th>
			                  <th>Valor Unit</th>
			                  <th>Valor Total</th>
			                </tr>
			                <tr ng-repeat="item in kit.itens">
			                	<td>{{ ::item.produto.referencia }}</td>
			                	<td>{{ ::item.produto.tipo }}</td>
			                	<td>{{ ::item.produto.descricao }}</td>
			                	<td>{{ ::item.qtdeEntregue }}</td>
			                	<td ng-if="kit.estado === 'Fechado'">{{ ::item.qtdeDevolvida }}</td>
			                	<td>{{ ::item.vlrUnit | currency}}</td>
			                	<td>{{ ::item.vlrTotal | currency}}</td>
			                </tr>
	                  </table>
	                </div>
	              </div>
	            </div>
	          </div>
          </div>
          <div class="box-footer">
         		<button type="submit" class="btn btn-default" ng-click="go('/kits')">Cancel</button>
         		<button type="submit" class="btn btn-success pull-right" ng-click="modalEditKit()">Editar</button>
          </div>
        </form>
      </div>
    </div>
	</div>
</section>
