<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Lista de Kits</h3>

          <button class="btn btn-success pull-right" ng-click="kitForm('gerar')"><i class="glyphicon glyphicon-plus"></i> Novo Kit</button>

          <!-- Espaço entre o campo e o botão-->
          <div class="pull-right">
            &nbsp
            &nbsp
          </div>
          <div class="input-group pull-right" style="width: 150px;">
            <input type="text" ng-model="filterValue" ng-enter="filter()" class="form-control pull-right" placeholder="Procurar"/>
            <div class="input-group-btn">
              <button ng-click="filter()" class="btn btn-default" >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="box-body">
           <div ui-grid="kitsGridOptions" ui-grid-pagination ui-grid-selection class="grid"></div> 
        </div>
      </div>
    </div>
  </div>
</section>